[submodule "libs/curl4cpp"]
	path = libs/curl4cpp
	url = https://github.com/ferhatgec/curl4cpp.git
[submodule "libs/termiospp"]
	path = libs/termiospp
	url = https://github.com/ferhatgec/termiospp.git
